<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :region_code %><br>
    <%= f.text_field :region_code %>
  </div>
  <div class="field">
    <%= f.label :country_code %><br>
    <%= f.text_field :country_code %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :access %><br>
    <%= f.text_field :access %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.text_field :active %>
  </div>
  <div class="field">
    <%= f.label :boolean %><br>
    <%= f.text_field :boolean %>
  </div>
  <div class="field">
    <%= f.label :modified_date %><br>
    <%= f.date_select :modified_date %>
  </div>
  <div class="field">
    <%= f.label :email_template %><br>
    <%= f.text_field :email_template %>
  </div>
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.text_field :rate %>
  </div>
  <div class="field">
    <%= f.label :entity %><br>
    <%= f.text_field :entity %>
  </div>
  <div class="field">
    <%= f.label :name_file_id %><br>
    <%= f.number_field :name_file_id %>
  </div>
  <div class="field">
    <%= f.label :customer_file_id %><br>
    <%= f.number_field :customer_file_id %>
  </div>
  <div class="field">
    <%= f.label :billing_id %><br>
    <%= f.number_field :billing_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
